<a href="https://colab.research.google.com/github/harshasrivaddem/Naivebayes/blob/main/naivebayes_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('cricket1 for decision tree (1).csv')
df

     Outlook Temperature Humidity  Windy Play Cricket
0      Sunny         Hot     High  False           No
1      Sunny         Hot     High   True           No
2   Overcast         Hot     High  False          Yes
3      Rainy        Mild     High  False          Yes
4      Rainy        Cool   Normal  False          Yes
5      Rainy        Cool   Normal   True           No
6   Overcast        Cool   Normal   True          Yes
7      Sunny        Mild     High  False           No
8      Sunny        Cool   Normal  False          Yes
9      Rainy        Mild   Normal  False          Yes
10     Sunny        Mild   Normal   True          Yes
11  Overcast        Mild     High   True          Yes
12  Overcast         Hot   Normal  False          Yes
13     Rainy        Mild     High   True           No

In [ ]:
def outlook_to_numeric(x):
    if x== 'Rainy':
        return 0
    if x=='Overcast':
        return 1
    if x=='Sunny':
        return 2
def temp_to_numeric(x):
     if x=='Hot':
        return 0
     if x=='Mild':
        return 1
     if x=='Cool':
        return 2
def humid_to_numeric(x):
     if x=='High':
        return 0
     if x=='Normal':
        return 1
def windy_to_numeric(x):
     if x== False:
        return 0
     if x==True:
        return 1
def target_to_numeric(x):
     if x=='No':
        return 0
     if x=='Yes':
        return 1

In [ ]:
df['OUTLOOK'] = df['Outlook'].apply(outlook_to_numeric)
df['TEMPERATURE'] = df['Temperature'].apply(temp_to_numeric)
df['HUMIDITY'] = df['Humidity'].apply (humid_to_numeric)

In [ ]:
df['WINDY'] = df['Windy'].apply (windy_to_numeric)
df['PLAY CRICKET'] = df['Play Cricket'].apply(target_to_numeric)
df

,Outlook,Temperature,Humidity,Windy,Play Cricket,OUTLOOK,TEMPERATURE,HUMIDITY,WINDY,PLAY CRICKET
0,Sunny,Hot,High,False,No,2,0,0,0,0
1,Sunny,Hot,High,True,No,2,0,0,1,0
2,Overcast,Hot,High,False,Yes,1,0,0,0,1
3,Rainy,Mild,High,False,Yes,0,1,0,0,1
4,Rainy,Cool,Normal,False,Yes,0,2,1,0,1
5,Rainy,Cool,Normal,True,No,0,2,1,1,0
6,Overcast,Cool,Normal,True,Yes,1,2,1,1,1
7,Sunny,Mild,High,False,No,2,1,0,0,0
8,Sunny,Cool,Normal,False,Yes,2,2,1,0,1
9,Rainy,Mild,Normal,False,Yes,0,1,1,0,1
10,Sunny,Mild,Normal,True,Yes,2,1,1,1,1
11,Overcast,Mild,High,True,Yes,1,1,0,1,1
12,Overcast,Hot,Normal,False,Yes,1,0,1,0,1
13,Rainy,Mild,High,True,No,0,1,0,1,0

In [ ]:
x = df[['OUTLOOK', 'TEMPERATURE', 'HUMIDITY' , 'WINDY']]
y=df['PLAY CRICKET']
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: PLAY CRICKET, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=10)

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
gnb=GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB()

In [ ]:
y_pred = gnb.predict(x_test)
y_pred

array([1, 1, 1, 1, 1], dtype=int64)

In [ ]:
from sklearn import metrics

In [ ]:
score=metrics.accuracy_score(y_test, y_pred)
print("Accuracy: ", score)

Accuracy:  0.8

In [ ]:
gnb.score (x_test, y_test)

0.8

In [ ]:
gnb.predict([[2,2,1,0]]) #array[1] ie. Play

array([1], dtype=int64)

In [ ]:
gnb.predict([[2,1,0,1]]) # array[0] i.e. Do not play

array([0], dtype=int64)